.accueil {
  /* width : 1000px; */
  max-width: 100%;
  margin: 50px auto;
  display: block;
}

h1 {
  text-align: center;
}

.fa-school {
  margin-right: 5px;
}

.bg-violet,
.bg-violet th {
  background-color: #0d6efd;
  color: white;
}

/* styles pour l'affichage d'une étape en front */

.course-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.course-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.course-content ul {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.course-content li {
  margin-bottom: 0.5rem;
}
