<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier existe, ne rien faire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon redirige tout vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Si mod_rewrite n'est pas activé
    ErrorDocument 404 /index.php
</IfModule>